
<footer>
    <div class="foot">
        <div class="stategy">
           <ul>
            <li>Planing</li>
            <li>Budget</li>
            <li>Account</li>
            <li>Expenses</li>
           </ul>
        </div>

        <div class="Service">
         <ul>
            <li>Kitchen Appliances</li>
            <li>Office Appliances</li>
            <li>Gym Appliances</li>
            <li>Offlice Appliances</li>
         </ul>
        </div>

        <div class="support">
            <ul>
            <li>Customer care</li>
            <li>Account</li>
            <li>About Us</li>
            <li>Help</li></ul>
        </div>
    </div>

    <p> 
        &#169 2024 Starr Group LTD.All Right Reserved. <br>
        privacy policy, cookies policies, trading rights. <br>
        Do not steal our personnal infomation.
    </p>
 </footer>