<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<link rel="stylesheet" href="css/home.css">
</head>
<body>

    <header>
        <div class="entry" style="width: 30%;">
         <div class="logo">
             <img src="images/logo.jpg" alt="" style="width: 60%; height: 60px;padding-top: 8px;">
             
         </div>
            <a href="/products/add">Add Product <ion-icon name="add-circle-outline"></ion-icon></a>
             <a href="/login">Login</a>
             <a href="/signup">Sign up</a>
        </div>
    
        <div class="searchbar" style="width: 25%;">
        
        <input type="search"  id="search" style="width: 50%; height: 30%;" > 
         <label for="search" style="color: #F2E399; font-size: small;"><ion-icon name="search"></ion-icon></label> 
        </div>
        <div class="navigate" style="width: 45%;">
        <a href="/home">homePage</a>
         <a href="/cart">cartPage</a>
         <a href="/contact">aboutPage</a>
         <a href="/">landingPage</a>
        </div>
     </header>    
</body>
</html>

