<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
    <header>
        <h1> yourCart</h1>
        <h4>    <a href="/products/add">Add Product  <ion-icon name="add-circle-outline"></ion-icon></a></h4>
    </header> 
     <section>
        <div class="sidebar">
            <li>House Hold</li>
            <li>Office</li>
            <li>Gym Center</li>
            <li>kitchen</li>
            <li>Outdoor</li>
 
        </div>



        
        <div class="main">
            <h6>All Orders</h6>
            <table>
                <tr>
                    <th>index</th>
                    <th>eMail</th>
                    <th>Address</th>
                    <th>Goods</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Date</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Ag@gmail.com</td>
                    <td>Boys street, Port Town</td>
                    <td>Office light</td>
                    <td>$40</td>
                    <td>20pcs</td>
                    <td>12-05-1990</td>
                    <td><img src= "images/light1.jpg" alt="light" style="width: 5em;"></td>
                    <td><button id="add">Add</button> <button id="del">Del</button></td>

                </tr>

                <tr>
                    <td>2</td>
                    <td>rtg@gmail.com</td>
                    <td>Girls street, Port Town</td>
                    <td>  Tredmile</td>
                    <td>$1320</td>
                    <td>40pcs</td>
                    <td>22-08-1790</td>
                    <td><img src= "images/2HP-Bodyfit-Treadmill.png" alt="light" style="width: 5em;"></td>
                    <td><button id="add">Add</button> <button id="del">Del</button></td>

                </tr>

                
                <tr>
                    <td>3</td>
                    <td>klkgh@gmail.com</td>
                    <td>Man street, Port Town</td>
                    <td> fan</td>
                    <td>$70</td>
                    <td>40pcs</td>
                    <td>32-04-1720</td>
                    <td><img src= "images/fan.jpg" alt="light" style="width: 5em;"></td>
                    <td><button id="add">Add</button> <button id="del">Del</button></td>

                </tr>
            </table>
        </div>
     </section>
</body>
</html>