
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
       <%- include('./components/header') %>
    
        <p id="p1">
          <h1 id="hs">AN OVERVIEW</h1>
       <h4>  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
         Dolorum, sequi. Sunt excepturi odit, perferendis impedit placeat nostrum
          temporibus debitis, obcaecati eveniet doloremque sequi asperiores
           accusantium distinctio in nihil velit dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis officiis eos quaerat magnam doloribus, quis doloremque eius vel eum amet vitae neque quia aliquam iusto quo maxime laboriosam quas ad.
           Ratione possimus fugiat quo, esse dolorum quam sapiente magni, repellat culpa ab facilis aliquam, fugit aperiam quasi recusandae voluptate debitis sint voluptatem earum? Alias delectus distinctio laborum aliquam vero earum.
           Eaque fuga, laborum minus repellendus at quam nobis, harum, deserunt accusamus eveniet similique ipsa enim consectetur? Optio eveniet consectetur, commodi porro dicta, officiis maxime reiciendis sint quibusdam dolorem at perspiciatis?
           Nesciunt inventore eum enim voluptate, ab fugiat eveniet aperiam tempore ducimus blanditiis beatae optio deserunt nihil dolor, at accusantium sequi exercitationem velit? Consectetur et sunt rem nihil numquam autem in?
           Optio autem adipisci ad tempore id esse amet, quisquam sunt, aperiam repellendus saepe perspiciatis, velit voluptas consequatur. Voluptatem amet veniam ea totam ad tenetur labore corrupti, molestiae ab facere omnis.
           Rerum obcaecati cupiditate quia, non odit magnam facere fugit impedit eaque incidunt, placeat modi recusandae dicta quaerat quidem voluptas vitae omnis nobis distinctio inventore molestias eos nesciunt maiores doloremque. Dignissimos?
           Voluptates voluptatem tenetur, sed exercitationem veniam ad, laboriosam, harum unde repellat neque sint aut vel cumque fuga. Voluptas corporis ratione nihil molestias in similique laborum accusamus, iusto optio? Asperiores, eveniet?
           Nesciunt, ab earum alias laboriosam suscipit iusto rerum perferendis nulla distinctio recusandae illum dolore nam corporis, dicta modi provident iste nisi fugiat quam quae amet saepe maiores aliquam error. Autem.
           Ab asperiores ratione est laudantium consequatur itaque error amet dolore vitae veniam, vel dignissimos incidunt dolor quod magnam maxime a aperiam, harum optio deserunt nesciunt. Commodi enim vitae ipsum ipsam.
           Ex culpa nulla tempora nobis aliquid temporibus quo exercitationem ullam iure. Veniam, fugiat quas sit earum, nobis nesciunt quis rem cupiditate natus repudiandae debitis necessitatibus officia ipsum! Assumenda, similique laborum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio debitis perspiciatis qui, animi voluptatibus saepe sunt illum. Necessitatibus porro qui officiis, ad rerum sequi doloremque odio doloribus! Deleniti, veritatis maxime.
           Tempora error vero aliquid libero a porro doloremque, explicabo architecto fugit et? Architecto velit at pariatur quos voluptatem, eius maiores recusandae optio, neque deserunt similique rerum sed dolores delectus laborum.
           Illo quas commodi, aliquid officia, unde quos sed ratione sit velit cum consectetur sint assumenda! Libero officiis exercitationem consectetur eligendi repellendus quisquam, culpa, dolore cupiditate debitis rem dolores officia quis!
           Debitis beatae temporibus placeat est sequi labore natus unde praesentium eligendi magnam, voluptate expedita eius eos. Asperiores deleniti dicta architecto commodi? Non est similique suscipit laboriosam consectetur? Hic, odio non?
           Natus dicta, assumenda cumque expedita molestiae ad possimus ratione dolorem, laborum fugit molestias repellendus doloribus quibusdam! Magnam, tempore. Enim fugit sapiente voluptatum. Inventore magnam, ipsa culpa molestiae reiciendis id repellendus!
           Corrupti ipsa quae optio rerum facere. Dolor unde exercitationem porro placeat corrupti aut dolorem suscipit! Facere sint atque eligendi molestiae consequatur! Omnis nemo reprehenderit accusantium similique voluptate beatae, id molestias?
           Placeat, eaque, dolorem tempore architecto, officia velit vel amet incidunt tenetur nemo id quas quasi eum iusto omnis quod? Iste mollitia temporibus velit alias similique architecto iure nemo dolores quaerat?
           Officia soluta dolore qui ratione vero ducimus corrupti doloremque voluptatibus explicabo, repellendus cupiditate error nemo, nulla amet, pariatur laborum. Perferendis beatae esse voluptatibus aliquam modi corrupti nostrum dignissimos accusamus ut!
           Beatae cupiditate sint reprehenderit illo necessitatibus voluptas rerum, inventore amet. Reiciendis accusamus omnis ut necessitatibus qui deserunt esse repellat! Nesciunt in omnis qui! Iure, natus veritatis. Qui nihil totam ipsa!
           Ut error sunt reiciendis id, ea voluptate earum dolorem eos soluta fuga doloremque animi totam commodi quia. Dolorum accusamus, vero nulla voluptatum quia, neque quos vitae quidem beatae explicabo veritatis.
       </h4>
        </p>
  
        <div className="bodytext">

                <div id="ourMission">
                        
                            <h1 id="hs">OUR MISSION
                                
                            </h1>
                 <h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sequi atque quis aliquam sed molestias nam et corporis eos optio aliquid beatae dolore nemo consequuntur ut, eum dolorem, enim totam.
                        Neque quo quod sunt numquam at, nihil dolorum suscipit recusandae, adipisci obcaecati sint omnis repellendus aperiam. Consectetur a, cumque perspiciatis culpa tenetur veritatis officiis excepturi pariatur, unde eum consequuntur similique!
                        Animi ducimus inventore facere, quasi laudantium dicta minus quod in, architecto nisi rem magni voluptates iste repellat, optio iusto quidem autem delectus accusantium consequatur tempore eveniet molestias! Minima, vel quisquam.
                        Culpa ipsa quae dolore voluptatum suscipit iste sunt quis exercitationem laudantium? Ipsa vel dolor nostrum dolorum blanditiis laudantium dolore veniam cupiditate minima ad assumenda beatae tempora, vero cumque temporibus nulla?
                        Iure consequatur veniam impedit libero saepe velit sed officiis, sequi repudiandae odio. Iusto optio quod, exercitationem ex vitae rerum! Corrupti voluptatum quisquam iure sed provident a totam sequi accusantium nobis?
                        Natus dolor neque sint unde tempore aut! Officiis tempora sed ipsum. Quas, esse! Eius, deleniti provident tempora molestiae, obcaecati reiciendis quisquam iure sunt praesentium temporibus consequuntur id at odit nulla.
                        Repellendus voluptatibus, dolorum quasi eligendi iusto iure ipsum ad accusantium perspiciatis, excepturi, est ex ipsa cupiditate incidunt autem molestiae fugiat eos saepe maxime dolores aliquid? Inventore delectus animi fuga aut?
                        Accusamus, ipsa quas voluptatum facilis excepturi omnis iure eligendi sapiente eius quia at nam fuga itaque necessitatibus optio fugit natus a, temporibus cum distinctio reiciendis quisquam debitis in quasi! Saepe.
                        Sit voluptatum non fugit iure veniam, ipsum nihil ipsam hic nam, labore minima suscipit quos culpa modi? Neque possimus, sint cum cumque doloribus est iste quisquam inventore odit ipsum nam!
                        Amet quos in voluptatum tempore, totam vitae nulla rerum sit dolore molestiae delectus adipisci nesciunt distinctio debitis ab, vel dolorum error perferendis nisi optio! Sapiente ipsum et nesciunt eum dolorem?
                    </h4>
                </div>

                <div id="mandate"> 
                
                    <h1 id="hs"> OUR MANDATE</h1>
                
                 <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis beatae qui aspernatur eius. Laborum commodi culpa veniam adipisci earum maxime molestias, hic quis minima assumenda quam ab cumque non possimus?
                        Nostrum laboriosam ea, rem aut atque suscipit architecto perferendis distinctio earum in harum autem! Repellendus harum iusto in sequi veritatis, obcaecati exercitationem, sunt, nemo ipsum recusandae iste totam soluta ipsam.
                        Voluptas aliquid praesentium saepe, eaque quos unde voluptatem est? Reiciendis facilis, tempora unde illum aliquam vel perspiciatis vitae quos sit officia? Veniam, cupiditate itaque molestias repellendus sed nisi! Repudiandae, accusamus.
                        Dolorem vitae, natus nulla iste eum id rem molestiae eius mollitia modi dolor, sed sint doloribus, voluptatum maiores? Dolorem consequatur provident, enim nulla ipsum fugit repellat hic deleniti eum cum?
                        Sunt, possimus architecto magni praesentium molestiae vel? Repellendus ullam est necessitatibus sapiente quisquam odio cum fugiat repudiandae natus eum quam nesciunt, quibusdam iure perferendis corporis. Optio velit molestiae quasi voluptas.
                        Id adipisci praesentium fuga, aut perspiciatis tenetur exercitationem quod corporis rem facere magnam nihil asperiores maxime modi porro nam ad soluta, dignissimos itaque, in enim provident dolore numquam! Beatae, animi.
                        Commodi autem voluptas quos, provident minima cumque laudantium sed asperiores ea dolor dolorem doloribus, enim debitis ducimus sequi id, odit aperiam ex neque incidunt fugit et rem corporis delectus? Aliquam?
                        Maxime repudiandae praesentium doloremque provident, minus numquam rerum eius distinctio corrupti possimus impedit delectus sit non omnis officiis eaque mollitia. Sapiente, perspiciatis nesciunt tempora reprehenderit alias aliquid placeat dignissimos quo!
                        Quos accusantium soluta maiores impedit eos repellendus enim, optio debitis molestias nulla quis sit dignissimos nemo fugit minima rerum! Ea incidunt, dignissimos temporibus commodi architecto nisi deleniti tenetur facere rem?
                        Sint quis cum odio hic, quo officia. Magni voluptates dolorum totam inventore quo vitae asperiores quae ut doloribus ratione et aspernatur odit, impedit ipsum sed enim placeat. Tenetur, temporibus corporis.
                    </h4>       
                </div>
            
  
        </div>
    


          <%- include('./components/footer') %>
    </body>
</html>
