<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/landing.css">

    
</head>

<body>

    <div class="first">
    
    <div class="sidebar" style="width: 45%;">
        <div class="logo">
            <img src="images/logo.jpg" alt="" style="width: 30%; height: 60px;padding-top: 8px;">
            <h2>StarrTrade</h2>
        </div>

        <h4>
            Welcome to the best place to trade at a cheap price
        </h4>
        <h6>Your security and our site efficency is a piority to us and we stop at nototing to ensure you get the best out of experirnce while trading 
            with us. Thanks  for trusting in us. </h6>
    </div>    
    <div class="main" style="width: 55%;">
        <img src="images/landimg4.jpg" alt="" style="width: 80%; height: 60%;">
    </div>

 </div>   
  


   

     
</body>
</html>