html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman";
  text-align: justify;
}

p {
 margin: 1rem, 50rem;
  font-weight: 200;
  line-height: 25px;
}

#hs {
  text-align: center;
  text-shadow: 10px;
  font-size: larger;
  font-weight: 1300;
  text-decoration: underline;
  padding: 18px;
}

#mandate {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-bottom: 20px;
  margin-top: 7rem;
  padding: 50px;
  font-weight: 200;
  line-height: 25px;
}

#ourMission {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-bottom: 20px;
  margin-top: 7rem;
  padding: 50px;
  font-weight: 200;
  line-height: 25px;
}
