*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #F2E399;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}



section{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 10px;
}

li{
    list-style: none;
    line-height: 50px;
    padding-top: 25px;
}



table{
    border-color: #F2E399;
    padding-right: 50px;
    padding-top: 30px;
}

td{
    padding: 20px;
}

tr:nth-child(even){
    background-color: #F2E399;

}

#add{
    background-color: green;
    color: #F2E399;
}

#del{
    background-color:#262626;
    color: #F2E399;
}

a{
    color: #262626;
}

a:hover{color: green;}